{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        {% if protocol == 2 %}

            <form id='formChallenge' action="{{ acsURL }}" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="creq" value="{{ creq }}">
                <input type="submit">
            </form>

        {% else %}

            <form id='formChallenge' action="{{ acsURL }}" method="POST">
                <input type="hidden" name="MD" value="{{ MD }}" />
                <input type="hidden" name="PaReq" value="{{ creq }}" />
                <input type="hidden" name="TermUrl" value="{{ termUrl }}" />
                <input type="submit">
            </form>

        {% endif %}


    </div>
    <script>

        window.addEventListener('load', function (){
            //enviará el formulario al cargarse la página a la entidad bancaria
            let formulario = document.getElementById('formChallenge');

            formulario.submit();
        });

    </script>
{% endblock %}