{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">

        {% if protocol == 2 %}

            <H1>Challenge version 2</H1>
            <form action="{{ acsURL }}" method="POST" enctype="application/x-www-form-urlencoded">
                <input type="hidden" name="creq" value="{{ creq }}">
                <input type="submit">
            </form>

        {% else %}

            <form action="{{ acsURL }}" method="POST">
                <input type="hidden" name="MD" value="{{ MD }}" />
                <input type="hidden" name="PaReq" value="{{ creq }}" />
                <input type="hidden" name="TermUrl" value="{{ termUrl }}" />
            </form>

        {% endif %}


    </div>
    <!-- /.container -->
{% endblock %}